* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
  box-sizing: border-box;
}

.full-screen {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.roomblocks {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 0.4fr));
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

.btn {
  height: 80px;
  width: 200px;
  background-color: #ccc;
  color: black;
  font-size: 20px;
  margin: 20px 20px;
  border: 2px solid grey;
}

.blockGame {
  height: 300px;
  width: 300px;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  margin: 10px 50px;
}

.nameRoom {
  margin-top: 70px;
  text-align: center;
  font-size: 40px;
}

.join-btn {
  margin: auto auto;
}

.gamespace {
  width: 800px;
  height: 800px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 250px;
  position: relative;
}

.container {
  display: flex;
}

.container_game {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 600px;
  max-width: 90%;
}

.timer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
}

.quote-display {
  margin-bottom: 1rem;
}

.quote-input {
  background-color: transparent;
  width: 100%;
  resize: none;
}

.incorrect {
  background-color: rgba(255, 68, 68, 0.411);
}

.correct {
  background-color: rgba(0, 221, 0, 0.411);
}

.next-letter {
  text-decoration: underline;
}

.looby_name {
  font-size: 30px;
  margin: 40px 20px;
}

.upstatus {
  margin: 5px;
  display: flex;
  width: 200px;
}

.ready-status-red {
  width: 20px;
  height: 20px;
  background-color: #f30;
  margin: 0 20px;
  border-radius: 50%;
  border: 2px solid black;
}

.ready-status-green {
  width: 20px;
  height: 20px;
  background-color: #090;
  margin: 0 20px;
  border-radius: 50%;
  border: 2px solid black;
}

.user-progress {
  margin: 5px 20px;
  height: 20px;
  width: 80%;
  border: 1px solid black;
  background-color: #eee;
}

.timer {
  width: 100px;
  height: 100px;
}

.containerTable {
  width: 300px;
  min-height: 200px;
  border: 2px solid black;
}

.title-winner {
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
}

.table-winner {
  background-color: #eee;
  padding: 2px 10px;
}

.display-none {
  display: none;
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}
